html, body { 
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 2;
  scroll-behavior: smooth;
}

li {
  margin-left: 13px;
}

#exp, #proj, #s {
  scroll-margin-top: 25px;
}

.container {
  position: relative;
  height: 100vh;
}

#landingPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  white-space: nowrap;
}

#rose {
  width: 250px;
  position: absolute;
  top: 45%;
  left: 72%;
  transform: translate(-50%, -50%);
}

#nav {
  width: 70px;
  height: 100vh;
  text-align: center;
  position: fixed;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textBoxes {
  width: 70%;
  margin: auto;
  padding-bottom: 1px;
}

.titleBoxes {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: fit-content;
  padding: 3px 9px;
  font-size: 19px;
  margin: 75px auto 50px;
}

i {
  -webkit-text-stroke: 2px white;
  width: 100%;
}

.bar1 { grid-area: java; }
.bar2 { grid-area: python; }
.bar3 { grid-area: c; }
.bar4 { grid-area: cpp; }
.bar5 { grid-area: sql; }
.bar6 { grid-area: js; }
.bar7 { grid-area: html; }
.bar8 { grid-area: xml; }

#beforeLink {
  margin-bottom: 90px;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  #landingPage {
    font-size:30px;
    top: 50%;
  }

  #rose {
    top: 70%;
    left: 50%;
    width: 150px;
  } 
}

@media (max-width: 1000px) {
  #landingPage {
    font-size:25px;
    top: 45%;
  }

  #rose {
    top: 64%;
    left: 50%;
    width: 120px;
  }

  #nav {
    visibility: hidden;
  }

  .textBoxes {
    width: 80%;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 12px;
  }

  li {
    font-size: 12px;
  }

  h2 {
    font-size: 19px;
  }

  #beforeLink {
    margin-bottom: 50px;
  }

  .titleBoxes {
    padding: 3px 13px;
    font-size: 15px;
    margin: 75px auto 50px;
  }
}

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-areas:
    'c python'
    'cpp java'
    'sql js'
    'html xml';
    grid-row-gap: 5px;
    grid-column-gap: 50px;
  }
}